html {
	background: url(images/templatemo_middle_bg.jpg) #16416e repeat-x;
}

h2 {
	font-size: 56px;
	color: #6eccdd;
	margin: 0 0 15px 0;
}
table{
	margin: 0;
	color: #99CCFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	line-height: 1.3em;
}